<form action="/HoursCalculator/Index" method="POST">
    StartDate:<br>
    <input type="text" name="startDate">
    <br>
    EndDate:<br>
    <input type="text" name="endDate">
    <br><br>
    <input type="submit" value="Submit">
</form>


